#ZipCode{
    position: relative;
    left: 5px;
    color: black
}
#email{
    position: relative;
    left: 5px;
    color: black;
}
#state{
    position: relative;
    left: 5px;
    color: black;
}
#phone{
    color: black;
}
.navbar {
    margin-bottom: 0;
    border-radius: 10px;
}
option{
    color: black;
}
